<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        {% block css %}{% endblock %}
    </head>
    <body>
        {% include 'menu.twig' %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block js %}{% endblock %}
    </body>
</html>
