<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ asset('@assets/dist/index.min.css') }}" />
    <script src="{{ asset('@assets/dist/index.min.js') }}"></script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
